{% extends 'base.html' %}

{% block main %}

<div class = "grid2">
    
    <div class ="card1">
        <img src="{{ url_for('get_images', filename = info.property_photo )}}" alt="img" > 
    </div>  
    
    <div class="card">
        <div id="q">
            <p>{{info.title}}</p>
        </div>

        <div id="w">
            <p class ="box2"> ${{info.price  | numberFormat}}</p>
        <div>

        <div id="r">
            <p id ="box3">{{info.property_type}}</p>
        </div>

        <div class = "d"> 
            <p>{{info.description}}</p> 
        </div>
        <div id="option">
            <img id="bed" src="{{ url_for('static', filename = 'Asset/img_571841.png' )}}" alt="img" > 
         
            <div id="hh">
                <p>{{info.num_of_rooms}} Bedrooms</p> 
            </div> 
    
            <img id="shower" src="{{ url_for('static', filename = 'Asset/R.png' )}}" alt="img" >  
            
            <div id="pp">
                <p>{{info.num_of_bathrooms}} Bathrooms</p>
            </div>
    
           <div id="ll">
              <p>{{info.location}}</p>
           </div>
         
            <div id="tt">
                <button>Email Realtor</button>
            </div>

        </div>
        
    </div>  
  
     
     
    

</div>
   
  
{% endblock %}